<form ng-app="cash" ng-controller='cashController'>
	<div>
		<head>
			<link rel="stylesheet" type="text/css" href="include/lib/bootstrap-3.4.1/dist/css/bootstrap.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
			<script src="include/lib/angular-1.6.9/angular.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="include/js/controller/myAppController.js"></script>
			<script type="text/javascript" src="include/js/controller/recordCityController.js"></script>
			<script type="text/javascript" src="include/js/controller/recordProductController.js"></script>
			<script type="text/javascript" src="include/js/controller/recordStateController.js"></script>
			<script type="text/javascript" src="include/js/controller/cashController.js"></script>
			<script type="text/javascript" src="include/js/services/productAPIService.js"></script>
			<script type="text/javascript" src="include/js/services/cityAPIService.js"></script>
			<script type="text/javascript" src="include/js/services/stateAPIService.js"></script>
			<script type="text/javascript" src="include/js/services/cashAPIService.js"></script>
			<link rel="stylesheet" href="include/css/style.css">
		</head>
		<div class="col-md-12 jumbotron" >	
			<div>
				<input class="form-control form-control-lg fieldStyle" type="text" placeholder="BAR-CODE" ng-model="codeBar">
			</div>
			<br><br>
			<div>
				<table id="tableCity" class="table table-bordered table-striped">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col" class="col-md-1"><h2>Code</h2></th>
				      <th scope="col"><h2>Name</h2></th>
				      <th scope="col"><h2>Bar Code</h2></th>
				      <th scope="col"><h2>Quantity</h2></th>
				      <th scope="col"><h2>Price</h2></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="n in sale" ng-click="selectObject(n)" ng-class="{selectedLine: n == selectedObject}">
				      	<td><h2>{{n.id}}</h2></td>
				      	<td><h2>{{n.name}}</h2></td>
				      	<td><h2>{{n.codeBar}}</h2></td>
				      	<td><h2>{{n.qtdProduct}}</h2></td>
				      	<td><h2>{{n.costSale}}</h2></td>
				    </tr>
				  </tbody>
				  <tfoot>
				  		<td></td>
				   		<td></td>
				      	<td></td>
				      	<td></td>
				      	<td><h1>Total: {{totalSale}}</h2></td>
				  </tfoot> 
				</table>
			</div>
			
			<br>
			<div class="col-md-12">
				<div class="col-md-12">
					<button type="button" class="btn btn-success btn-lg btn-block" ng-click="btnInsert(codeBar)">Insert</button>
				</div>
				<div class="col-md-4">
					<button type="button" class="btn btn-danger btn-lg btn-block" ng-click="btnDelete()" ng-disabled="!selectedObject">Delete</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="location()">Return</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="toggleFullScreen()">Full Screen</button>
				</div>
			</div>
			
			
			<!-- EDIT Modal -->
			<div class="modal fade bd-example-modal-lg" id="editModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="editModalLabel">{{modalTitle}}</h5>
			      </div>
			      <div class="modal-body position1">
			      	<div>
				      	<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eName" type="text" class="form-control" placeholder="Type Name" ng-model="product.name">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eCodeBar" type="text" class="form-control" placeholder="Type Code Bar" ng-model="product.codeBar">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eDescription" type="text" class="form-control" placeholder="Type Description" ng-model="product.description">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eCostPrice" type="text" class="form-control" placeholder="Type Cost Price" ng-model="product.costPrice">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eCostSale" type="text" class="form-control" placeholder="Type Cost Sale" ng-model="product.costSale">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eExpDate" type="text" class="form-control" placeholder="Type Expiration Date" ng-model="product.expDate">
						</div>
					</div>
			      </div>
			      <div ng-show="error">
			      	<div class="position3">
			      		<form class="formColor">
				      		<span>{{modalMessage}}</span>
						</form>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			         <button type="button" class="btn btn-primary" ng-click="confirmEdit()">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<!-- INSERT Modal -->
			<div class="modal fade bd-example-modal-lg" id="insertModal" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="insertModalLabel">{{modalTitle}}</h5>
			      </div>
			      <div class="modal-body position1">
			      	<div>
				      	<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="iName" type="text" class="form-control" placeholder="Type Name" ng-model="product.name">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="iCodeBar" type="text" class="form-control" placeholder="Type Code Bar" ng-model="product.codeBar">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="iDescription" type="text" class="form-control" placeholder="Type Description" ng-model="product.description">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="iCostPrice" type="text" class="form-control" placeholder="Type Cost Price" ng-model="product.costPrice">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="iCostSale" type="text" class="form-control" placeholder="Type Cost Sale" ng-model="product.costSale">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="iExpDate" type="text" class="form-control" placeholder="Type Expiration Date" ng-model="product.expDate">
						</div>
					</div>
			      </div>
			      <div ng-show="error">
			      	<div class="position3">
			      		<form class="formColor">
				      		<span>{{modalMessage}}</span>
						</form>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" ng-click="insertProduct(product)">Save</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<!-- DELETE Modal -->
			<div class="modal fade bd-example-modal-lg" id="deleteModal" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="deleteModalLabel">{{modalTitle}}</h5>
			      </div>
			      <div class="modal-body position1">
			      	<div>
			      		<form class="formColor">
				      		<span>{{modalMessage}}</span>
						</form>
						<div>
							<form>
								<span>{{modalMessageObject}}</span>
							</form>
						</div>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" ng-click="deleteProduct(selectedObject)">Confirm</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<p class="mt-5 mb-1 text-muted positionTrade">&copy; 2023-2023</p>
		</div>
	</div>
</form>