<form ng-app="dashBoard" ng-controller='dashBoardController'>
	<button type="button" class="close x_close" data-dismiss="modal" ng-click="location()" aria-hidden="true" title="Fechar">&times;</button>
	<div>
		<head>
			<meta charset="utf-8"/>
			<link rel="stylesheet" type="text/css" href="include/lib/bootstrap-3.4.1/dist/css/bootstrap.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
			<script src="include/lib/angular-1.6.9/angular.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="include/js/controller/dashBoardController.js"></script>
			<script type="text/javascript" src="include/js/services/dashBoardAPIService.js"></script>
			<link rel="stylesheet" href="include/css/style.css">
		</head>
		<div class="col-md-12 jumbotron" >	
			<div>
			
				<!-- GRAFICO COM OS DADOS -->
				<div class="panel panel-default">
	                <div class="panel-body">
				        <div class="col-md-12">
				        	<canvas id="graficoUsuario" class="chart-horizontal-bar" chart-labels="rotulosUsuario" chart-data="valoresUsuario"></canvas>									        	
				        </div>
	                </div>
				</div>
				
				<table id="tableCity" class="table table-bordered table-striped">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col" class="col-md-1">Código</th>
				      <th scope="col">Gênero</th>
				      <th scope="col">Sigla</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="n in genders" ng-click="selectObject(n)" ng-dblclick="edit(n)" ng-class="{selectedLine: n == selectedObject}">
				      	<td>{{n.id}}</td>
				      	<td>{{n.name}}</td>
				      	<td>{{n.sail}}</td>
				    </tr>
				  </tbody>
				</table>
			</div>
	
			<nav aria-label="...">
			  <ul class="pager">
			    <li><a ng-click="previous()">Anterior</a></li>
			    <li><a ng-click="next()">Próximo</a></li>
			  </ul>
			</nav>
			
			<br>
			<div class="col-md-12">
				<div class="col-md-6">
					<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="btnInsert()">Inserir</button>
				</div>
				<div class="col-md-6">
					<button type="button" class="btn btn-danger btn-lg btn-block" ng-click="btnDelete()" ng-disabled="!selectedObject">Deletar</button>
				</div>
			</div>
			
			<!-- EDIT Modal -->
			<div class="modal fade bd-example-modal-lg" id="editModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="editModalLabel">Editar Gênero</h5>
			      </div>
			      <div class="modal-body position1">
			      	<div>
				      	<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eName" type="text" class="form-control" placeholder="Type Name" ng-model="gender.name">
						</div>
						<br><br>
						<div class="col-md-12">
						  <div class="input-group-prepend">
						  </div>
						  <input id="eSail" type="text" class="form-control" placeholder="Type Sail" ng-model="gender.sail">
						</div>
					</div>
			      </div>
			      <div ng-show="error">
			      	<div class="position3">
			      		<form class="formColor">
				      		<span>{{modalMessage}}</span>
						</form>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			         <button type="button" class="btn btn-primary" ng-click="confirmEdit()">Salvar</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<!-- INSERT Modal -->
			<div class="modal fade bd-example-modal-lg" id="insertModal" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <form id="uploadForm">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="insertModalLabel">{{modalTitle}}</h5>
				      </div>
				      <div class="modal-body position1">
				      	<div>
					      	<div class="col-md-12 ">
					  		  <div class="input-group-prepend"></div>
					  		  
					  		  	<input id="iName" type="file" class="form-control" placeholder="Selecione o Arquivo" accept="*"multiple/>
							  
							</div>
							<br><br>
						</div>
				      </div>
				      <div ng-show="error">
				      	<div class="position3">
				      		<form class="formColor">
					      		<span>{{modalMessage}}</span>
							</form>
						</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				        <button type="button" class="btn btn-primary">Submit</button>
				      </div>
				    </div>
			    </form>
			  </div>
			</div>
			
			<!-- DELETE Modal -->
			<div class="modal fade bd-example-modal-lg" id="deleteModal" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="deleteModalLabel">{{modalTitle}}</h5>
			      </div>
			      <div class="modal-body">
			      	<div>
			      		<form class="formColor">
				      		<span>{{modalMessage}}</span>
						</form>
						<div class="position4">
							<form>
								<span>{{modalMessageObject}}</span>
							</form>
						</div>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			        <button type="button" class="btn btn-primary" ng-click="deleteGender(selectedObject)">Confirmar</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<p class="mt-5 mb-1 text-muted positionTrade">&copy; 2023-2023</p>
		</div>
	</div>
</form>