<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="include/js/controller/myAppController.js"></script>
	<link rel="stylesheet" href="include/css/style.css">
	<head>
		<meta charset="UTF-8">
		<title>client</title>
	</head>
	<body>
		<div ng-app='myApp' ng-controller='myAppController'>
			
			<div>
				<table class="table table-striped">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">Code</th>
				      <th scope="col">Name</th>
				      <th scope="col">Size</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="n in cities" ng-click="selectObject(n)" ng-dblclick="edit(n)">
				      	<td>{{n.id}}</td>
				      	<td>{{n.name}}</td>
				      	<td>{{n.size}}</td>
				    </tr>
				  </tbody>
				</table>
			</div>
			<br><br><br>
			<div class="col-md-12">
				<div class="col-md-6">
					<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="btnInsert()">Insert</button>
				</div>
				<div class="col-md-6">
					<button type="button" class="btn btn-danger btn-lg btn-block" ng-click="btnDelete()" ng-disabled="!selectedObject">Delete</button>
				</div>
			</div>
			
			<!-- EDIT Modal -->
			<div class="modal fade" id="editModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="editModalLabel">Edit City</h5>
			      </div>
			      <div class="modal-body position1">
			      	<div>
				      	<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eName" type="text" class="form-control" placeholder="Type Name" ng-model="city.name">
						</div>
						<br><br>
						<div class="col-md-12">
						  <div class="input-group-prepend">
						  </div>
						  <input id="eSize" type="text" class="form-control" placeholder="Type Size" ng-model="city.size">
						</div>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<!-- INSERT Modal -->
			<div class="modal fade" id="insertModal" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="insertModalLabel">Insert City</h5>
			      </div>
			      <div class="modal-body position1">
			      	<div>
				      	<div class="col-md-12 ">
				  		  <div class="input-group-prepend">
				  		  </div>
				  		  <input id="iName" type="text" class="form-control" placeholder="Type Name" ng-model="city.name">
						</div>
						<br><br>
						<div class="col-md-12">
						  <div class="input-group-prepend">
						  </div>
						  <input id="iSize" type="text" class="form-control" placeholder="Type Size" ng-model="city.size">
						</div>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" ng-click="insertCity(city)">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<!-- WARNING Modal -->
			<div class="modal fade" id="warningModal" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="warningModalLabel">Modal title</h5>
			      </div>
			      <div class="modal-body position1">
			      	<div>
				      	<span>{{modalMessage}}</span>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<!-- DELETE Modal -->
			<div class="modal fade" id="deleteModal" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
			      </div>
			      <div class="modal-body position1">
			      	<div>
				      	<span>{{modalMessage}}</span>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" ng-click="deleteCity(selectedObject)">Ok</button>
			      </div>
			    </div>
			  </div>
			</div>
			
		</div>
	</body>
</html>

