<!doctype html>
<html ng-app="login">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="include/lib/bootstrap-3.4.1/dist/css/bootstrap.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="include/lib/angular-1.6.9/angular.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="include/js/controller/loginController.js"></script>
	<link rel="stylesheet" href="include/css/style.css">
    <title>Signin Template for Bootstrap</title>
	
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="include/lib/bootstrap-3.4.1/dist/css/bootstrap.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="include/css/style.css">
  </head>

  <body class="text-center position5 backgroundColor1" ng-controller="loginController">
    <form class="form-signin">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputUser" class="sr-only">Email address</label>
      <input type="text" id="inputUser" class="form-control" placeholder="User" ng-model="acess.user" required autofocus>
      <br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="acess.password" required>
      <br><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="validLogin(acess)">Sign in</button>
      <br><br>
      <p class="mt-5 mb-3 text-muted">&copy; 2023-2023</p>
    </form>
  </body>
</html>

