<form ng-app="recordProduct" ng-controller='recordProductController'>
	<button type="button" class="close x_close" data-dismiss="modal" ng-click="location()" aria-hidden="true" title="Close">&times;</button>
	<div>
		<head>
			<link rel="stylesheet" type="text/css" href="include/lib/bootstrap-3.4.1/dist/css/bootstrap.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
			<script src="include/lib/angular-1.6.9/angular.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="include/js/controller/recordCityController.js"></script>
			<script type="text/javascript" src="include/js/controller/recordProductController.js"></script>
			<script type="text/javascript" src="include/js/controller/recordStateController.js"></script>
			<script type="text/javascript" src="include/js/services/productAPIService.js"></script>
			<script type="text/javascript" src="include/js/services/cityAPIService.js"></script>
			<script type="text/javascript" src="include/js/services/stateAPIService.js"></script>
			<link rel="stylesheet" href="include/css/style.css">
		</head>
		<div class="col-md-12 jumbotron" >	
			<div>
				<table id="tableProduct" class="table table-bordered table-striped">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col" class="col-md-1">Code</th>
				      <th scope="col" class="col-md-3">Name</th>
				      <th scope="col" class="col-md-2">Cost Sale</th>
				      <th scope="col" class="col-md-2">Expiration Date</th>
				      <th scope="col" class="col-md-4">Bar Code</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="n in products" ng-click="selectObject(n)" ng-dblclick="edit(n)" ng-class="{selectedLine: n == selectedObject}">
				      	<td>{{n.id}}</td>
				      	<td>{{n.name}}</td>
				      	<td>{{n.costSale}}</td>
				      	<td>{{n.expDate |  date:'dd/MM/yyyy'}}</td>
				      	<td>{{n.codeBar}}</td>
				    </tr>
				  </tbody>
				</table>
			</div>
	
			
			<!--  
			<nav aria-label="Page navigation example" class="text-center">
			  <ul class="pagination">
			    <li class="page-item">
			      <a class="page-link" href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Previous</span>
			      </a>
			    </li>
			    <li class="page-item" ng-repeat="l in cities">
			   		{{l.length}}
			      <a class="page-link" href="#" aria-label="Next">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only"></span>
			      </a>
			    </li>
			    <li class="page-item">
			      <a class="page-link" href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">Next</span>
			      </a>
			    </li>
			  </ul>
			</nav>
			-->
			
			<br>
			<div class="col-md-12">
				<div class="col-md-6">
					<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="btnInsert()">Insert</button>
				</div>
				<div class="col-md-6">
					<button type="button" class="btn btn-danger btn-lg btn-block" ng-click="btnDelete()" ng-disabled="!selectedObject">Delete</button>
				</div>
			</div>
			
			
			<!-- EDIT Modal -->
			<div class="modal fade bd-example-modal-lg" id="editModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="editModalLabel">{{modalTitle}}</h5>
			      </div>
			      <div class="modal-body position1">
			      	<div>
				      	<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eName" type="text" class="form-control" placeholder="Type Name" ng-model="product.name">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eCodeBar" type="text" class="form-control" placeholder="Type Code Bar" ng-model="product.codeBar">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eDescription" type="text" class="form-control" placeholder="Type Description" ng-model="product.description">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eCostPrice" type="number" class="form-control" placeholder="Type Cost Price" ng-model="product.costPrice">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eCostSale" type="number" class="form-control" placeholder="Type Cost Sale" ng-model="product.costSale">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="eExpDate" type="date" class="form-control" placeholder="Type Expiration Date" ng-model="product.expDate">
						</div>
					</div>
			      </div>
			      <div ng-show="error">
			      	<div class="position3">
			      		<form class="formColor">
				      		<span>{{modalMessage}}</span>
						</form>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			         <button type="button" class="btn btn-primary" ng-click="confirmEdit()">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<!-- INSERT Modal -->
			<div class="modal fade bd-example-modal-lg" id="insertModal" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="insertModalLabel">{{modalTitle}}</h5>
			      </div>
			      <div class="modal-body position1">
			      	<div>
				      	<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="iName" type="text" class="form-control" placeholder="Type Name" ng-model="product.name">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="iCodeBar" type="text" class="form-control" placeholder="Type Code Bar" ng-model="product.codeBar">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="iDescription" type="text" class="form-control" placeholder="Type Description" ng-model="product.description">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="iCostPrice" type="number" class="form-control" placeholder="Type Cost Price" ng-model="product.costPrice">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="iCostSale" type="number" class="form-control" placeholder="Type Cost Sale" ng-model="product.costSale">
						</div>
						<br><br>
						<div class="col-md-12">
					  		<div class="input-group-prepend">
					  		</div>
					  		<input id="iExpDate" type="date" class="form-control" placeholder="Type Expiration Date" ng-model="product.expDate">
						</div>
					</div>
			      </div>
			      <div ng-show="error">
			      	<div class="position3">
			      		<form class="formColor">
				      		<span>{{modalMessage}}</span>
						</form>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" ng-click="insertProduct(product)">Save</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<!-- DELETE Modal -->
			<div class="modal fade bd-example-modal-lg" id="deleteModal" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="deleteModalLabel">{{modalTitle}}</h5>
			      </div>
			      <div class="modal-body position1">
			      	<div>
			      		<form class="formColor">
				      		<span>{{modalMessage}}</span>
						</form>
						<div class="position4">
							<form>
								<span>{{modalMessageObject}}</span>
							</form>
						</div>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" ng-click="deleteProduct(selectedObject)">Confirm</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<p class="mt-5 mb-1 text-muted positionTrade">&copy; 2023-2023</p>
		</div>
	</div>
</form>